body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: $body-font-family;
}

* {
  margin: 0;
  padding: 0;
  transition: .3s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
}

