// Variables tipográficas y globales
$primary: #c04b62;
$secondary: #472d30;
$tertiary: #feebc2;
$font-family-base: 'Georgia', serif;

.hr--both {
  @include hr-triangles(true, true);
}

.hr--left {
  @include hr-triangles(true, false);
}

.hr--right {
  @include hr-triangles(false, true);
}

.hr--small {
  @include hr-triangles(false, true, "\f5e3", 6px);
}

.hr--small-both {
  @include hr-triangles(true, true, "\f5e3", 6px);
}

* {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,p {
  margin-top: 10px;
  margin-bottom: 0;
}

hr {
  margin-bottom: 0;
}

section {
  padding: 0 !important;
}

.tertiary {
  color: $tertiary;
}

.rounded-top {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.rounded-4 {
  border-radius: 17px;
}

.font-family-base {
  font-family: $font-family-base;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.custom-hr {
  border: none;
  height: 1px;
  background: #000;
  opacity: 1;
}

.hr--white  {
  color: #fff;
}

.btn-section {
  position: relative;
  font-size: 11px;
  width: max-content;
  padding: 7px 15px;
  border-radius: 23px;
  font-weight: 600;
  font-family: Georgia;
  color: #c04b62;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c04b62;
  z-index: -1;
  transition: width 0.3s ease;
  border-radius: 23px;
}

.btn-section a {
  color: inherit;
  position: relative;
  z-index: 2;
}

.btn-section:hover a {
  color: #fff;
}

.btn-section:hover::before {
  width: 100%;
}

.btn-section:hover {
  color: #fff;
}

.card {
  border-radius: 20px;
  overflow: hidden;
}

h2 {
  font-size: 36px;
}

a {
  font-size: 14px;
}

.showbr {
  display: none;
}

button:focus,
button:focus-visible,
.btnSearch:focus,
.btnSearch:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}


.btnSearch {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background-color: #472d30 !important;
  }
  
  svg {
    margin: 0;
  }
}

input#gsearch {
  border: 0;
  border-bottom: 3px solid #000;
  width: 100%;
  background: #ffffff00;
  outline: none;
  text-align: center;
  font-size: 32px;
  padding: 0px 0px 15px;
}

svg.bi.bi-x.text-primary {
  position: fixed;
  top: 30px;
  right: 45px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.collapsing {
  height: 100% !important;
  transition: none !important;
}

.collapse {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background: #ffffffe0;

  opacity: 0;
  visibility: hidden; /* 🔥 faltaba esto */
  transform: translateY(-15px) scale(0.98);

  transition: all 0.9s ease;
}

/* 🔥 ESTADO ABIERTO */
.collapse.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

/* 🔥 FIX BOOTSTRAP (CLAVE PARA EL CIERRE) */
.collapse:not(.show) {
  display: block !important;
}


.contentCollapse {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCollapse input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 32px;
  text-align: center;
  background: transparent;
  padding-bottom: 10px;
}

.contentCollapse::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #c04b62;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.contentCollapse input:focus + * ,
.contentCollapse:focus-within::after {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

@include media-breakpoint-up(sm) {
  .btnlxquote {
    display: none;
  }
}

@include media-breakpoint-up(md){

  .btnlxquote {
  display: none;
  }
}

// Responsive
@include media-breakpoint-up(lg) {

  .btnlxquote {
  display: none;
  }

  .container-fluid {
    padding: 0 3rem;
  }

  h2 {
    font-size: 36px;
  }
  
  .showbr {
    display: block;
  }

  .triple {
    display: none;
  }
}

@include media-breakpoint-up(xl) {

  .container-fluid {
    padding: 0 5rem;
  }

  .triple {
    display: block;
  }

  .containertopBar {
    max-width: 1024px;
  }
}