// About Section
.about {
  padding: 0;
}

.containeraboutlg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.contentAbout {
  width: 100%;
}

.tittleAbout {
  margin-top: 50px;
  width: 80%;
}

.tittleAbout h2 {
  font-size: 25px;
} 

.pictureAbout {
  margin: 22px 0;
  width: 100%;
  
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 17px;
  }
}

.decor {
  display: none;
  position: absolute;
  z-index: 0;
}

.decor-right {
  width: 15%;
  top: 4%;
  right: 0%;
}

.decor-left {
  width: 1.5%;
  top: 8%;
  right: 101%;
}

.btn-about::before {
  background-color: #472d30;
}

.containeraboutlg {
  display: unset
}

@include media-breakpoint-up(md) {
  .about {
    padding: 0;
  }
  
  .pictureAbout img {
    margin-top: 117px;
  }
}

@include media-breakpoint-up(lg) {
  .about {
    padding: 3rem;
  }
  
  .containeraboutlg {
    display: flex;
    max-width: 1024px;
  }
  
  .contentAbout {
    width: 50%;
  }
  
  .pictureAbout {
    width: 50%;
    
    img {
      margin-top: 117px;
    }
  }
  
  .decor {
    display: block;
  }
  
  .decor-right {
    width: 15%;
    top: 4%;
    right: 0%;
  }
  
  .decor-left {
    width: 1.5%;
    top: 8%;
    right: 101%;
  }
}