// Services Section
.services {
  .containerImageServices {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }
}

.containerImageServices img {
  width: -webkit-fill-available;
}

.contentServices {
  width: 100%;
  margin: 0 auto;
  
  h2 {
    width: 100%;
    margin: 0 auto;
    font-size: 29px;
  }
}

.containercardServices {
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}

.cardmdServices {
  width: 100%;
  position: relative;
}

.backcard {
  padding: 1rem;
  width: 100%;
  height: 100%;
  bottom: 1px;
  border-radius: 15px;
  opacity: 0;
  border: 3px solid #c04b62;
  box-shadow: 0px 11px #c04b62;
  transition: opacity .3s ease;
  
  p {
    margin-top: 20px;
    font-size: 14px;
  }
}

.contentback-card span {
  font-size: 23px;
}

.cardmdServices:hover .backcard {
  opacity: 1;
}

.btncardservices {
  bottom: 14px;
  border-radius: 50%;
  background-color: #FFF;
  left: 25px;
  
  svg {
    width: 40px;
    height: 40px;
  }
}

.btn-Service:hover {
  background-color: #472d30 !important;
}

svg.bi.bi-mortarboard-fill.text-primary {
  width: 60px;
  height: 60px;
}

@include media-breakpoint-up(lg) {

  .btncardservices {
  bottom: 14px;
  border-radius: 50%;
  background-color: #FFF;
  left: 25px;
  
  svg {
    width: 50px;
    height: 50px;
  }
}

  .contentServices {
  width: 630px;
  margin: 0 auto;
  
  h2 {
    width: 466px;
    margin: 0 auto;
  }
}

  .btncardservices {
    left: 34px;
  }
}