// Choose Us Section
.chooseUs {
  padding: 3rem;
}

.containerChooselg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.containerchooseUs {
  gap: 15px;
}

.imgcontainerchooseus {
  text-align: center;
  img {
    height: 400px;
    width: 100%;
  }
}

.postServices {
  transform: translate(-50%, -50%);
  top: 54%;
  left: 48%;
  border-radius: 16px;
  width: 178px;
}

.iconChoose {
  border-radius: 5px;
  padding: 4px;
  height: 33px;
}

.contentChooseUs {
  width: 100%;
  
  h2 {
    font-size: 23px;
  }
}

.contentItem h3 {
  font-size: 18px;
  font-weight: 600;
}

.titlecardChoose {
  align-items: end;
}

.titlecardChoose svg {
  width: 40px;
  height: 40px;
}

.million {
  font-size: 33px;
  font-weight: 600;
}

.countriesButtons {
  margin-top: 15px;
  justify-content: center;
}

.cardChoose {
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
  
  &:hover {
    background-color: #c04b62 !important;
    color: #fff;
    
    svg {
      color: #FFF !important;
    }
  }
}

.containerCardsChoose {
  gap: 25px;

  h2 {
    font-size: 47px;
  }
}

.decor-right-choose {
  width: 1.5%;
  top: 6%;
}

.decor-left-choose {
  left: 0%;
  width: 16%;
  top: 4%;
}


@include media-breakpoint-up (md) {

  .countriesButtons {
    margin-top: 15px;
    justify-content: center;
    position: absolute;
    top: -66px;
    right: 16px;
  }

  .postServices {
    transform: translate(-50%, -50%);
    top: 61%;
    left: 103%;
    border-radius: 16px;
    width: 179px;
  }

  .imgcontainerchooseus img {
    margin-top: 111px;
    height: 400px;
    width: 339px;
  }

  .containerchooseUs {
    display: flex;
    gap: 15px;
  }
  
  .contentChooseUs {
    width: 50%;
  }
  
  .imgcontainerchooseus {
    width: 50%;
  }
  
  .containercardmd {
    display: flex;
    align-items: flex-end;
    gap: 17px;
  }
}

@include media-breakpoint-up(lg) {

  .containerChooselg {
    max-width: 1024px;
  }

  .containerCardsChoose {
  gap: 25px;
  display: flex;
  align-items: flex-end;
  
  h2 {
    font-size: 47px;
  }
} 

  .imgcontainerchooseus {
    text-align: center;
    top: 140px;
    
    img {
      width: 80%;
    }
  }

  .imgcontainerchooseus .border {
    border: 6px solid #dee2e6 !important;
  }
}