// Countries Section
.countries {
  padding: 3rem;
}

.contentCountrier {
  display: block;
}

.fDupla {
  display: none;
}

.triple {
  display: none;
}

.four {
  display: none;
}

.bg-white rounded-4 p-3 countriescard h2 {
  font-size: 31px;
}

.containercountrieslg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px 20px 40px;
}

.titleCountries {
  h2 {
    font-size: 23px;
  }
}

.textCountries {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.containaercardcontriesmd {
  display: flex;
  gap: 20px;
}

.countriescard {
  &:hover {
    background-color: #ffecc2 !important;
  }
}

.countriescard p {
  margin-top: 10px;
}

.ctrlL, .ctrlR {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  
  &:hover {
    background-color: #fff !important;
    
    svg.bi.bi-chevron-right,
    svg.bi.bi-chevron-left {
      color: #c04b62 !important;
    }
  }
}

svg.bi.bi-chevron-right,
svg.bi.bi-chevron-left {
  width: 21px;
  height: 21px;
}

.carousel-control-next, .carousel-control-prev {
  width: 90%;
}

#carouselExampleCaptionsCountries .carousel-inner {
  width: auto;
}

.decor-left-down {
  width: 2%;
  top: 73%;
  right: 100%;
}

.decor-left-top {
  width: 17.5%;
  bottom: 75%;
  right: 86%;
}

.decor-right-top {
  width: 17.5%;
  bottom: 75%;
  left: 85%;
}

.decor-right-down {
  width: 2%;
  top: 73%;
  left: 100%;
}

@include media-breakpoint-up(md) {

  .titleCountries .h2, .titleCountries h2 {
    font-size: 31px;
  }

  .contentCountrier {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .titleCountries {
    width: 50%;
  }
  
  .textCountries {
    width: 50%;
  }
  
  .countriescard {
    width: auto;
    height: 322px;
  }
  
  .fDupla {
    display: block;
  }
}

@include media-breakpoint-up(lg) {

  .bg-white.rounded-4.p-3.triple.countriescard {
    display: block;
  }

  .decor-left-down {
    width: 2%;
    top: 68%;
    right: 96%;
  }

  .decor-right-down {
    width: 2%;
    top: 68%;
    left: 96%;
  }

  .decor-left-top {
    width: 17.5%;
    bottom: 73%;
    right: 81%;
  }

  .decor-right-top {
    width: 18.5%;
    bottom: 72%;
    left: 80%;
  }

  .containercountrieslg {
    max-width: 1024px;
    padding: 48px 48px;
  }
  
  .titleCountries h2 {
    font-size: 41px;
  }

}

@include media-breakpoint-up(xl) {

  .four {
    display: block;
  }

  .triple {
    display: block;
  }

  .containercountrieslg {
    max-width: 1440px;
    padding: 53px 69px;
  }

  .decor-left-down {
    width: 1.6%;
    top: 64%;
    right: 96%;
  }

  .decor-left-top {
    width: 14.5%;
    bottom: 64%;
    right: 83%;
  }

  .decor-right-down {
    width: 1.6%;
    top: 64%;
    left: 96%;
  }

  .decor-right-top {
    width: 14.5%;
    bottom: 63%;
    left: 83%;
  }

  .contentCountrier {
    display: flex;
    gap: 108px;
    align-items: center;
  }
  
}

@include media-breakpoint-up(xxl){
    .containercountrieslg {
    max-width: 1440px;
    padding: 80px 81px;
  }
}