// Education Section
.education {
  padding: 3rem;
}

.containereducationlg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

span.color-secondary.ms-2.font-family-base.fw-bold {
    font-size: 14px;
}

.titleEducaction {
  display: flex;
}

.contentEducation {
  width: 60%;
  
  h2 {
    font-size: 35px;
  }
}

#carouselExampleCaptionsEducation {
  margin-top: 18px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.peducation {
  display: flex;
  align-items: center;
}

.priceCard {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 20px;
}

.contentcardEducation {
  &:hover {
    background-color: #472d30 !important;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
   .mt-2.border.border-primary.btn-section {
    background: #c04b62;
    color: #fff;
    }

    hr.custom-hr.mt-2.hr--right {
    background-color: #fff;
    }
  }
}

.ctrlLeducation, .ctrlReducation {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  
  &:hover {
    background-color: #472d30 !important;
  }
}

.contentEducation h2 {
  font-size: 27px;
}

.contentEducation {
  width: 100%;
}

.titleEducaction {
  display: unset;
}

.contentcardEducation h2 {
  font-size: 20px;
}

@include media-breakpoint-up(md) {

.carousel-inner.rounded-4.px-3 {
    margin-top: 50px;
}

  .containereducationlg .countriesButtons {
    top: -84px;
  }

  .contentEducation .h2, .contentEducation h2 {
    font-size: 34px;
  }

  .titleEducaction {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .contentEducation {
    width: 60%;
  }
  
  .peducation {
    width: 40%;
  }

}

@include media-breakpoint-up(lg) {

  .contentEducation {
    width: 54%;
  }

  .containereducationlg {
    max-width: 1024px;
  }
  
  .contentEducation h2 {
    font-size: 35px;
  }
}

@include media-breakpoint-up(xl) {

    .contentEducation .h2, .contentEducation h2 {
        font-size: 38px;
    }  

  .titleEducaction {
      display: flex;
      align-items: center;
      font-size: 15px;
      gap: 186px;
  }

.contentEducation {
        width: 45%;
    }

  .containereducationlg {
    max-width: 1440px;
  }
}