// Education Section
.education {
  padding: 3rem;
}

.containereducationlg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.titleEducaction {
  display: flex;
}

.contentEducation {
  width: 60%;
  
  h2 {
    font-size: 35px;
  }
}

.peducation {
  display: flex;
  align-items: center;
}

.priceCard {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 20px;
}

.contentcardEducation {
  &:hover {
    background-color: #472d30 !important;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
    .btn-section {
      background-color: #c04b62 !important;
      color: #fff !important;
    }
  }
}

.ctrlLeducation, .ctrlReducation {
  left: 34%;
  top: 24px;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  
  &:hover {
    background-color: #472d30 !important;
  }
}

@include media-breakpoint-up(md) {
  .ctrlLeducation, .ctrlReducation {
    top: unset;
    left: 83%;
    bottom: 534px;
  }
}