// WorkFlow Section
.workFlow {
  padding: 3rem;
}

.containerworkFlowlg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.titleworkFlow {
  width: 50%;
  margin: 0 auto;
}

.hrworkflowlg {
  width: 75%;
  margin: 0 auto !important;
}

.containerCardWorkflow {
  margin-top: 20px;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 16px;
}

.cardWorkflow {
  border: 2px solid #c04b62;
  margin: 0px;
  width: 31%;
  border-radius: 20px;
  box-shadow: 0px 8px #c04b62;
  
  h2 {
    font-size: 17px;
    font-weight: 700;
  }
}

.contentCardWorkflow {
  margin-top: 10px;
  padding: 16px 16px 28px;
}

.decor-left-top-workflow {
  width: 13.5%;
  bottom: 85%;
  right: 89%;
}

.decor-left-down-workflow {
  width: 1.7%;
  top: 79%;
  right: 101%;
}

.decor-right-top-workflow {
  width: 13.5%;
  bottom: 85%;
  left: 89%;
}

.decor-right-down-workflow {
  width: 1.7%;
  top: 79%;
  left: 101%;
}

.cardWorkflow {
  width: 88%;
  margin: 27px auto;
}

.titleworkFlow {
  font-size: 21px;
}

.titleworkFlow {
  width: 100%;
}

@include media-breakpoint-up(md) {

  .hrworkflow {
    width: 75%;
    margin: 0 auto;
  }

  .titleworkFlow {
    font-size: 30px;
  }

  .containerCardWorkflow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 24px;
  }
  
  .cardWorkflow {
    margin: 0px;
    width: 31%;
  }
  
  .titleworkFlow {
    width: 75%;
  }
}

@include media-breakpoint-up(lg) {

  .decor-left-down-workflow {
    width: 1.7%;
    top: 65%;
    right: 97%;
  }

  .decor-left-top-workflow {
    width: 13.5%;
    bottom: 73%;
    right: 85%;
  }

  .decor-right-down-workflow {
    width: 1.7%;
    top: 66%;
    left: 97%;
  }

  .decor-right-top-workflow {
    width: 13.5%;
    bottom: 73%;
    left: 84%;
  }

  .containerCardWorkflow {
    display: flex;
    flex-wrap: nowrap;
  }

  .containerworkFlowlg {
    padding: 48px;
    max-width: 1024px;
  }
  
  .containerCardWorkflow {
    flex-wrap: nowrap;
  }
  
  .cardWorkflow {
    width: 23%;
    height: 308px;
  }
  
  .titleworkFlow {
    width: 50%;
    font-size: 36px;
  }
  
  .hrworkflowlg {
    width: 75%;
    margin: 0 auto !important;
  }
}

@include media-breakpoint-up(xl){

  .decor-left-down-workflow {
    width: 1.7%;
    top: 60%;
    right: 96%;
  }

  .decor-left-top-workflow {
    width: 13.5%;
    bottom: 67%;
    right: 84%;
  }

  .decor-right-down-workflow {
    width: 1.7%;
    top: 60%;
    left: 96%;
  }

  .decor-right-top-workflow {
    width: 13.5%;
    bottom: 67%;
    left: 84%;
  }


  .cardWorkflow {
      width: 24%;
      height: 282px;
  }

  .hrworkflow {
      width: 50%;
      margin: 0 auto;
  }

  .containerworkFlowlg {
    max-width: 1440px;
    padding: 80px 80px;
  }

  .containerCardWorkflow {
    margin-top: 65px;
  }

}

@include media-breakpoint-up(xxl) {

  .titleworkFlow {
    font-size: 37px;
  }

}