// News Section
.news {
  padding: 3rem;
  
  .btn-section:hover {
    background-color: #c04b62 !important;
  }
}

.containernewslg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.titleNews {
  width: 80%;
  margin: 0 auto;
  
  p {
    font-size: 18px;
  }
}

.containerCardNews {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: nowrap;
}

.cardNew {
  width: 335px;
  box-shadow: 0px 1px 13px 1px #000;
  border-radius: 13px;
  
  &:hover {
    background-color: #472d30;
    color: #fff !important;

    .btnNews {
      background-color: #c04b62;
      color: #fff;
    }
  }
}
  
.containernewslg {
  margin-top: 50px;
}

.iconCard {
  margin-top: 10px;
}

.titleNews p {
  margin-top: 20px;
}

.titleNews h2 {
  font-size: 26px;
}

.dateCard {
border-top-right-radius: 5px;
top: 38.4%;
}

.cardNew {
  margin: 27px auto;
  width: 85%;
  box-shadow: 0px 0px 5px #c4cfd8;
  border-radius: 18px;
}

.containerCardNews {
  margin-top: 10px;
  display: unset;
}

.titleNews {
  width: 100%;
  margin: 0 auto;
}


@include media-breakpoint-up(md) {

  .titleNewsCard {
    width: 80%;
    margin: 0 auto;
  }

  .titleNews {
    width: 100%;
    
    h2 {
      font-size: 32px;
    }
  }
  
  .containerCardNews {
    display: flex;
    align-items: flex-end;
    gap: 26px;
    flex-wrap: wrap;
  }
  
  .cardNew {
    width: 48%;
    margin: 0;
  }
  
  .dateCard {
    top: 48.8%;
  }

  .containernewslg {
    padding-bottom: 50px;
  }
}

@include media-breakpoint-up(lg) {

  .dateCard {
    top: 39.9%;
  }
  
  .containernewslg {
    max-width: 1024px;
    margin-top: 0;
  }
  
  .titleNews h2 {
    font-size: 36px;
  }
  
  .containerCardNews {
    flex-wrap: nowrap;
  }
  
  .cardNew {
    width: 32%;
  }
}

@include media-breakpoint-up(xl){

  .dateCard {
    top: 53.3%;
  }

  .titleNewsCard {
    width: 59%;
    margin: 0 auto;
  }

  .containernewslg {
    max-width: 1440px;
    margin-top: 20px;
  }

}