
// Variables tipográficas
$font-family-base: 'Georgia', serif;   
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

$font-size-base: 1.625rem;
$font-weight-base: 600;

$heading-font-family: $font-family-base;
$heading-font-weight: $font-weight-bold;
$body-font-family: 'Arial', sans-serif;
$body-font-weight: $font-weight-regular;

$heading-margin-bottom: 0.5rem;
$paragraph-margin-bottom: 1rem;
//colors
$primary: #c04b62;
$secondary: #472d30;
$tertiary: #feebc2;

// Importar Bootstrap desde node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";

// Aquí puedes sobrescribir variables antes del import si quieres


body {
  margin: 0px;
  padding: 0px;
  background: #fff
}

.navbar {
  --bs-navbar-toggler-border-color:none;
}

a.navbar-brand img {
  width: 170px;
}

.btnSearch {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btnSearch svg {
  margin-left: 12px;
  margin-top: 5px;
}

.tittleAbout {
  width: 263px;;
}

.pictureAbout {
  margin: 22px;
}

.pictureAbout img {
  width: stretch;
}