// Variables tipográficas
$font-family-base: 'Georgia', serif;
$font-weight-bold: 700;

$body-font-family: 'Arial', sans-serif;

$primary: #c04b62;
$secondary: #472d30;   

$grid-breakpoints: (  
  xs: 0          ,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";


.tertiary {
  color: #feebc2; 
}

.topBar {
  display: none;
}

.containerListlink {
  display: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

// Estilos personalizados
/* necesario para submenú */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  display: none;
  position: static;   /* 👈 clave: ya no absolute */
  margin: 0;
  padding-left: 15px;
  border: none;
  box-shadow: none;
}

.dropdown-submenu .dropdown-menu.show {
  display: block;
}

.dropdown-menu {
  --bs-dropdown-border-color:none;
}


body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: $body-font-family;
}

* {
  margin: 0;
  padding: 0;
  transition: .3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
}

.font-family-base {
  font-family: $font-family-base;
}

.navbar {
  --bs-navbar-toggler-border-color: none;
  background-color: #fff !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

a.navbar-brand img {
  width: 150px;
}

.offcanvas-header {
  border-left: 1px solid $primary;
}

.offcanvas-body {
  border-left: 1px solid $primary;
}

.navbar-nav a{
  color: #000;
  border-top: 1px solid #000;
}

.nav-link svg {
  transition: transform 0.5s ease;
}

.nav-link[aria-expanded="true"] svg {
  transform: rotate(45deg);
}

/* transición suave */
.dropdown-submenu > a svg {
  transition: transform 0.5s ease;
}

/* cuando está abierto */
.dropdown-submenu > a[aria-expanded="true"] svg {
  transform: rotate(45deg);
}

.split-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.backcard {
  width: 320px;
  height: 387px;
  bottom: 1px;
  border-radius: 15px;
  opacity: 0;
  border: 3px solid #c04b62;
  box-shadow: 0px 11px #c04b62;
  transition: opacity 3s ease;
}

.cardmdServices:hover .backcard{
  opacity: 1;
}

/* texto arriba del efecto */
.split-btn a {
  position: relative;
  z-index: 2;
  display: block;
}

/* capas base */
.split-btn::before,
.split-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: $secondary;
  z-index: 1;
  transition: transform 0.5s ease;
}

/* izquierda */
.split-btn::before {
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

/* derecha */
.split-btn::after {
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

svg.bi.bi-mortarboard-fill.text-primary {
  width: 60px;
  height: 60px;
}


/* hover activo */
.split-btn:hover::before {
  transform: scaleY(1);
}

.split-btn:hover::after {
  transform: scaleY(1);
}

/* texto en hover */
.split-btn:hover a {
  color: #fff !important;
}

.animate-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.8s ease;
}

.carousel-item.active .animate-right {
  opacity: 1;
  transform: translateX(0);
}

/* delays controlados */
.delay-1 { transition-delay: 0.2s; }
.delay-2 { transition-delay: 0.5s; }
.delay-3 { transition-delay: 0.9s; }

.btn-section:hover {
  background-color: #c04b62;
}

  .btn-section:hover a {
    color: #fff !important;
  }

.carousel-indicators [data-bs-target] {
  opacity: 1;
  height: 4px;
  border-radius: 9px;
  border-top: unset;
  border-bottom: unset;
  transition: width 0.5s ease-in-out;
  background-color:#E1C699 !important;
}

.carousel-indicators .active {
  width: 45px;
  background-color: $primary !important;
}

.btnSearch {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  svg {
    margin: 0;
  }
}

.tittleAbout {
  max-width: 263px; // Ajustado para móvil
}

.pictureAbout {
  margin: 22px 0;
  
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

// Línea horizontal personalizada
.custom-hr {
  height: 4px;
  background-color: #000;
  opacity: 1;
}

// Botones
.btn-section {
  font-size: 11px;
  width: max-content;
  padding: 7px 15px;
  border-radius: 23px;
  font-weight: 600;
  font-family: Georgia;
  
}

// Ajustes de espaciado para móvil
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

// Cards y elementos visuales
.card {
  border-radius: 20px;
  overflow: hidden;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.containerImageServices img {
  width: -webkit-fill-available;
}

svg.bi.bi-arrow-up-right-circle-fill.text-primary {
  width: 45px;
  height: 45px;
}


.btncardservices {
  bottom: 14px;
  border-radius: 50%;
  background-color: #FFF;
  left: 25px;
}

  .postServices {
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  border-radius: 16px;
  }

.iconChoose {
  border-radius: 5px;
  padding: 4px;
  height: 33px;
}

.cardChoose {
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
}

.ctrlL, .ctrlR {
  left: 34%;
  top: 24px;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.carousel-control-next, .carousel-control-prev {
  width: 83%;
}

.carousel-inner {
  width: 82%;
  margin: 0 auto;
}

.containerTeam img {
  width: 200px;
}

.styleCard {
  border-radius: 15px;
  width: 202px;
  margin-left: 40px;
  border: 1px solid #000;
  box-shadow: 7px 6px #000;
}

.styleCard img {
  top: 30px;
  left: 30px;
}

.priceCard {

  border-bottom-right-radius:20px;
}

.cardWorkflow {
  border: 2px solid #c04b62;
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 8px #c04b62;
}

.contentCardTestimonial {
  bottom: 7px;
  left: 43px;
  border-radius: 17px;
}

.shadowCardTestimonial {
  border-radius: 15px;
  height: 342px;
  max-width: 284px;
}

.dateCard {
  border-top-right-radius: 5px;
  top: 155px;
}

.cardNew {
  width: 100%;
  box-shadow: 0px 1px 13px 1px #000;
  border-radius: 13px;
}

.textCopy {
  font-size: 15px;
}

.offcanvas.show {
  width: 80%;
}

.offcanvas-header {
  gap: 27px;
}

.offcanvas-header img {
  width: 200px;
}

.imgcontainerchooseus img {
  width: 100%;
}

.fDupla {
  display: none;
}

.ctrlLeducation, .ctrlReducation {
  left: 34%;
  top: 24px;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.ctrlLTestimonial, .ctrlRTestimonial {
  left: 34%;
  top: 24px;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.contentHero {
  top: 30px;
}

.imgruleshero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position: center;
}

.cardonehero {
  background-image: url("/Media/Rectangle-1.png");
}

.cardtwohero {
  background-image: url("/Media/Rectangle-2.png");
}

.cardthreehero {
  background-image: url("/Media/Rectangle-1-1.png");
}

.decor {
  display: none;
  position: absolute;
  z-index: 0;
}

.triple {
  display: none;
}

.xl {
  display: none;
}

.btn-about:hover {
  background-color: #472d30 !important;
}

// Responsive fix para el navbar

@media (max-width: 375px) {
  .navbar-brand img {
    width: 120px;
  }
  
  .btnSearch {
    width: 35px;
    height: 35px;
    
    svg {
      width: 14px;
      height: 14px;
    }
  }
}

@include media-breakpoint-up(md) {

  .btnSearch {
    width: 30px;
    height: 30px;
  }

  .about .container-fluid {
    display: flex;
  }

  .pictureAbout img {
    margin-top: 117px;
  }

  .pictureAbout {
    width: 100%;
  }

  .containercardServices {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
  }

  .contentServices {
    width: 630px;
    margin: 0 auto;
  }

  .contentServices h2 {
    width: 466px;
    margin: 0 auto;
  }

  .cardmdServices {
    width: 31%;
    position: relative;
  }

  .btncardservices {
    top: 197px;
    left: 23px;
  }

  .containercardmd {
    display: flex;
    align-items: flex-end;
    gap: 17px;
  }

  .containerchooseUs {
    display: flex;
    gap: 15px;
  }

  .imgcontainerchooseus img {
    width: 100%;
  }

  .imgcontainerchooseus {
      top: 140px;
  }

  .postServices {
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
  }

  .contentCountrier {
    display: flex;
  }

  .textCountries {
    margin-top: 50px;
  }

  .ctrlL,.ctrlR {
    top: auto;
    left: 83%;
    bottom: 390px;
  }

  .fDupla {
    display: block;
  }

  .contentHero {
    width: 80%;
  }

  .containaercardcontriesmd {
  display: flex;
  gap: 20px;
  }

  #carouselExampleCaptionsCountries .carousel-inner {
    width: auto;
  }

  .containerTeam {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    justify-content: center;
  }

  .styleCard {
    margin-left: 0px;
  }

  .titleTeam {
    width: 580px;
    margin: 0 auto;
  }

  .titleEducaction {
    display: flex;
  }

  .peducation {
    display: flex;
    align-items: center;
  }

  .ctrlLeducation,.ctrlReducation {
    top: unset;
    left: 83%;
    bottom: 480px;
  }

  .cardWorkflow {
    margin: 0px;
    width: 31%;
  }
  .containerCardWorkflow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
  }

  .titleTestimonial {
    display: flex;
  }

  .ptestimonial {
  display: flex;
  align-items: center;
  }

  .ctrlRTestimonial, .ctrlLTestimonial {
    top: auto;
    left: 83%;
    bottom: 480px;
  }

  .containercardTestimonial {
    display: flex;
    gap: 67px;
  }

  .shadowCardTestimonial {
    height: 362px;
  }

  .titleNews {
    width: 68%;
    margin: 0 auto;
  }

  .containerCardNews {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
  }

  .cardNew {
    width: 335px;
  }

  .contentFooter {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
    align-items: baseline;
  }

  .containerAbout {
    width: 35%;
  }

  .containeraboutlg {
    display: flex;
  }

  .triple {
    display: none;
  }

  .xl {
    display: none;
  }

  .hero .carousel-indicators {
    transform: rotate(270deg);
    bottom: 50%;
    left: 75%;
    width: max-content;
  }

}

@include media-breakpoint-up(lg) {

  .topBar {
    display: block;
  }

  .containerListlink {
  display: block;
  }

  .navbar-toggler {
    display: none;
  }

  .cardWorkflow {
    width: 31%;
  }

  .containerCardWorkflow {
    flex-wrap: nowrap;
  }

  .contentHero {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }

    .decor {
    display: block;
  }

  .decor-right {
    width: 15%;
    top: 7%;
    right: 4%;
  }

  .decor-left {
    width: 1.5%;
    top: 12%;
    left: 4%;
  }

  .containeraboutlg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }

  .about {
    padding: 3rem;
  }

  .containerImageServices {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }

  .contentServices h2 {
    width: 419px;
    margin: 0 auto;
  }

  .btncardservices svg {
    width: 50px;
    height: 50px;
  }

  .btncardservices {
    top: 290px;
    left: 34px;
  }

  .chooseUs {
    padding: 3rem;
  }

  .decor-right-choose {
    width: 1.5%;
    top: 3%;
  }

  .decor-left-choose {
    left: 4%;
    width: 16%;
    top: 4%;
  }

  .containerCardsChoose {
    gap: 25px;
    display: flex;
    align-items: flex-end;
  }

  .containercardmd {
    display: contents;
  }

  .containerChooselg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }

  .countries {
    padding: 3rem;
  }

  .containercountrieslg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;    
  }

  .decor-left-down {
    width: 2.5%;
    top: 65%;
    left: 4%;
  }

  .decor-left-top {
    width: 17.5%;
    top: 7%;
    left: 3%;
  }

  .decor-right-top {
    width: 17.5%;
    top: 7%;
    right: 2%;    
  }

  .decor-right-down {
    width: 2.5%;
    top: 65%;
    right: 2%;    
  }

  .team {
    padding: 3rem;
  }

  .containerteamlg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }

  .education {
    padding: 3rem;
  }

  .containereducationlg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;    
  }

  .workFlow {
    padding: 3rem;
  }

  .containerworkFlowlg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px; 
  }

  .workFlow .container-fluid {
    padding: 0px;
  }

  .decor-left-top-workflow {
    width: 15.5%;
    top: 3%;
    left: 3%;
  }

  .decor-left-down-workflow {
    width: 2%;
    top: 65%;
    left: 2%;
  }

  .decor-right-top-workflow {
    width: 15.5%;
    top: 3%;
    right: 3%;
  }

  .decor-right-down-workflow {
    width: 2%;
    top: 65%;
    right: 2%; 
  }

  .testimonial {
    padding: 3rem;
  }

  .containertestimoniallg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;    
  }

  .containerCardNews {
    flex-wrap: nowrap;
  }

  .news {
    padding: 3rem;
  }

  .containernewslg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;    
  }

  .footer {
    padding: 3rem;
  }

  .containerfooterlg {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;     
  }

  .triple {
    display:block;
  }

  .xl {
    display: none;
  }

  .navbar {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;       
  }

  .containerheroopBar {    
    width: 100%;
    margin: 0 auto;
    max-width: 1024px; 
  }

  .contentHero {
    width: 50%;
  }

  .titleworkFlow {
    width: 50%;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(xl) {

  .xl {
    display: block;
  }

  .navbar .containerButtons {
    gap: 10px;
  }

  .contentHero {
    width: 50%;
  }

  .decor-left {
    width: 1%;
    top: 12%;
    left: 12%;
  }

  .decor-right {
      width: 10%;
      top: 19%;
      right: 12%;
  }

  .cardonehero {
    padding: 3rem;
  }

  .cardtwohero {
    padding: 3rem;
  }

  .cardthreehero {
    padding: 3rem;
  }
}